/*
 Re-usable classes for ReactCSSTransitionGroup
*/
.react-css--slide-up-enter {
  transform: translateY(100%); }

.react-css--slide-up-enter-active {
  transition: transform 0.5s ease-out 0s;
  transition: transform 0.7s cubic-bezier(0.22, 0.61, 0.36, 1) 0.6s;
  transform: translateY(0px); }

/* 
  Re-usable CSS Keyframes
*/
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1;
    transform: scale3d(1, 1, 1); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

* {
  box-sizing: border-box; }

#site__router {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden; }

.site__divider {
  width: 100%;
  height: 0.25rem;
  background-color: #2788e2; }

.site__button {
  display: inline-block;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  outline: none;
  border: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin: 0.5rem 0;
  letter-spacing: 1px;
  background-color: #2788e2;
  transition: background 0.3s ease-out 0s; }
  .site__button:not(.site__button--disabled):hover {
    background-color: #196ebd; }
  .site__button.site__button--disabled {
    opacity: 0.5;
    cursor: no-drop; }

html, body {
  font-family: 'Open Sans', 'New Times Roman', serif;
  font-size: 16px; }
  @media screen and (max-width: 600px) {
    html, body {
      font-size: 14px; } }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-weight: 400; }

.case-study-details {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  overflow: auto; }

.case-study-details__slide-enter {
  transform: translateY(100%); }

.case-study-details__slide-enter-active {
  transition: transform 0.5s ease-out 0s;
  transition: transform 0.7s cubic-bezier(0.22, 0.61, 0.36, 1) 0.6s;
  transform: translateY(0px); }

.case-study-details__slide-leave {
  transform: translateY(0px); }

.case-study-details__slide-leave-active {
  transition: transform 0.5s ease-out 0s;
  transform: translateY(100%); }

.case-study-details__contain {
  padding: 4rem 2rem 2rem;
  max-width: 768px;
  margin: 0 auto; }
  @media screen and (max-width: 600px) {
    .case-study-details__contain {
      padding-left: 0.75rem;
      padding-right: 0.75rem; } }

.case-study-details__title {
  font-size: 4rem;
  margin-bottom: 1.5rem; }
  @media screen and (max-width: 600px) {
    .case-study-details__title {
      font-size: 2.5rem;
      margin-bottom: 1rem; } }

.case-study-details__summary {
  font-size: 1.5rem; }
  @media screen and (max-width: 600px) {
    .case-study-details__summary {
      font-size: 1rem; } }

.case-study-details__info-row {
  margin-bottom: 0.7rem; }

.case-study-details__info-type {
  margin-right: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px; }

.case-study-details__info-value,
.case-study-details__info-type {
  margin: 0; }

.site__divider--case-study-info {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.case-study-hero {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #555;
  background-color: #989898;
  background-size: cover;
  background-position: center; }
  .case-study-hero:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3); }

.case-study-hero__slide-rtl-enter,
.case-study-hero__slide-ltr-enter {
  z-index: 100; }

.case-study-hero__slide-rtl-enter {
  transform: translateX(100%); }

.case-study-hero__slide-ltr-enter {
  transform: translateX(-100%); }

.case-study-hero__slide-rtl-enter-active,
.case-study-hero__slide-ltr-enter-active {
  transition: transform 0.5s ease-out 0s;
  transition: transform 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  transform: translateX(0px); }

.case-study-hero__slide-rtl-leave,
.case-study-hero__slide-ltr-leave {
  transform: translateX(0px);
  transition: transform 1s cubic-bezier(0, 0, 0.2, 1) 0s; }

.case-study-hero__slide-rtl-leave-active {
  transform: translateX(-20%); }

.case-study-hero__slide-ltr-leave-active {
  transform: translateX(20%); }

.case-study-hero__text {
  position: absolute;
  bottom: 6rem;
  left: 2rem;
  color: #fff;
  padding-right: 2rem; }
  .case-study-hero__text.case-study-hero__text--fade-out {
    opacity: 0;
    transition: opacity 0.3s ease-out 0s; }
  @media screen and (max-width: 600px) {
    .case-study-hero__text {
      left: 0.75rem; } }

.case-study-hero__heading {
  font-size: 3.5rem;
  line-height: 1;
  margin: 0.5rem 0; }
  @media screen and (max-width: 700px) {
    .case-study-hero__heading {
      font-size: 2.5rem; } }

.case-study-hero__subheading {
  font-size: 1.2rem;
  line-height: 1.4;
  margin: 0;
  max-width: 640px; }
  @media screen and (max-width: 700px) {
    .case-study-hero__subheading {
      font-size: 1.1rem; } }

.details-toggle__main-btn {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  height: 45px;
  cursor: pointer;
  transition: transform 0.6s ease-out 0s; }
  .details-toggle__main-btn.details-toggle__main-btn--open {
    transition: transform 0.7s ease-in-out 0s;
    transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1) 0.3s; }
  @media screen and (max-width: 600px) {
    .details-toggle__main-btn {
      left: 0.75rem; } }

.details-toggle__target,
.details-toggle__start {
  position: absolute;
  visibility: hidden;
  pointer-events: none;
  width: 45px;
  height: 45px;
  left: 2rem; }
  @media screen and (max-width: 600px) {
    .details-toggle__target,
    .details-toggle__start {
      left: 0.75rem; } }

.details-toggle__target {
  top: 2rem; }
  @media screen and (max-width: 600px) {
    .details-toggle__target {
      top: 1.5rem; } }

.details-toggle__start {
  bottom: 2rem; }

/*
.detail-toggle__text-contain {
  position: absolute;
  background: $color__primary;
  top: 0;
  left: 1.5rem;
  padding-left: 0.75rem;
  width: 9rem;
  height: 100%;
  border-radius: 0 3rem 3rem 0;

  display: flex;
  justify-content: center;
  align-items: center;

  transform-origin: center left;
  transform: scaleX(0.75);
  opacity: 0;
  transition: transform 0.2s ease-out 0.2s, opacity 0.2s ease-out 0s;

  .details-toggle__main-btn:hover & {
    transform: scaleX(1);
    opacity: 1;
    transition: transform 0.38s cubic-bezier(0.18, 0.89, 0.32, 1.05) 0s, opacity 0.3s ease-out 0s; 
  }
}

.detail-toggle__text {
  color: #fff;
  text-align: center;
  opacity: 0;

  .details-toggle__main-btn:hover & {
    opacity: 1;    
    transition: opacity 0.31s ease-out 0.28s;
  }
}*/

.btn-chip {
  position: relative;
  cursor: pointer;
  width: 45px;
  height: 45px; }
  .btn-chip:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    transition: fill 0.4s ease-out 0s, transform 0.38s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0s;
    transform: scale(1); }
  .btn-chip:hover:before {
    background-color: #2788e2;
    transform: scale(1.1); }

.btn-chip__icon {
  position: relative;
  fill: #2788e2; }
  .btn-chip:hover .btn-chip__icon {
    fill: #fff; }

/* Custom Classes */
.btn-chip--article-down {
  display: flex;
  justify-content: center;
  align-items: center; }
  .btn-chip--article-down .btn-chip__icon {
    top: 0;
    transition: top 0.3s ease-out 0s; }
  .btn-chip--article-down .btn-chip__translate {
    transition: transform 0.3s ease-out 0s;
    transform: translateY(0px); }
  .btn-chip--article-down:hover .btn-chip__icon {
    top: -3px; }
  .btn-chip--article-down:hover .btn-chip__translate {
    transform: translateY(7px); }

.btn-chip--detail-toggle {
  z-index: 100; }

.details-toggle__main-btn--open .btn-chip--detail-toggle .btn-chip__icon {
  transition: transform 0.3s ease-out 0.2s, top 0.3s ease-out 0.3s;
  top: 4px;
  transform: rotate(180deg); }

.details-toggle__main-btn--open .btn-chip--detail-toggle .btn-chip__translate {
  transform: translateY(10px); }


.portfolio-slider {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden; }

.portfolio-slider__arrows-contain {
  z-index: 200;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  height: 45px; }
  @media screen and (max-width: 600px) {
    .portfolio-slider__arrows-contain {
      right: 0.75rem; } }

.portfolio-slider__arrow {
  display: inline-block;
  margin: 0 0.5rem; }

.portfolio-slider__details {
  z-index: 300;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none; }
  .portfolio-slider__details > * {
    pointer-events: auto; }

.portfolio-slider__toggle-btn {
  z-index: 500;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none; }
  .portfolio-slider__toggle-btn > * {
    pointer-events: auto; }

.single-image {
  position: relative;
  background-size: cover;
  background-position: center;
  border: 1px solid #d8d8d8;
  height: 450px;
  height: 30vw;
  min-height: 375px; }


.lazy-background-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center; }


/*# sourceMappingURL=styles.css.map */
