
html, body {
  font-size: 16px;
  font-family: sans-serif; }

* {
  box-sizing: border-box; }

.case-study-details {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white; }

.case-study-details__slide-enter {
  transform: translateY(100%); }

.case-study-details__slide-enter-active {
  transition: transform 0.5s ease-out 0s;
  transition: transform 0.7s cubic-bezier(0.22, 0.61, 0.36, 1) 0.6s;
  transform: translateY(0px); }

.case-study-details__slide-leave {
  transform: translateY(0px); }

.case-study-details__slide-leave-active {
  transition: transform 0.5s ease-out 0s;
  transform: translateY(100%); }

.case-study-details__contain {
  padding: 4rem 2rem 2rem;
  max-width: 768px;
  margin: 0 auto;
  overflow: auto; }

.btn-chip {
  position: relative;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  fill: #2788e2; }

.case-study-hero {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #555;
  background: #ccc; }

.case-study-hero__slide-rtl-enter,
.case-study-hero__slide-ltr-enter {
  z-index: 100; }

.case-study-hero__slide-rtl-enter {
  transform: translate(100%); }

.case-study-hero__slide-ltr-enter {
  transform: translate(-100%); }

.case-study-hero__slide-rtl-enter-active,
.case-study-hero__slide-ltr-enter-active {
  transition: transform 0.5s ease-out 0s;
  transition: transform 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  transform: translate(0px); }

.case-study-hero__text {
  position: absolute;
  bottom: 6rem;
  left: 2rem; }
  .case-study-hero__text.case-study-hero__text--fade-out {
    opacity: 0;
    transition: opacity 0.3s ease-out 0s; }

.details-toggle__main-btn {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  height: 3rem;
  cursor: pointer;
  transition: transform 0.6s ease-out 0s; }
  .details-toggle__main-btn.details-toggle__main-btn--open {
    transition: transform 0.7s ease-in-out 0s;
    transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1) 0.3s; }
  .details-toggle__main-btn:after {
    content: '';
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    color: white;
    background: #2788e2;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.2s ease-out 0s; }
  .details-toggle__main-btn:hover:after {
    transform: scale(1.1); }

.details-toggle__target {
  position: absolute;
  top: 3rem;
  left: 2rem;
  width: auto; }

.detail-toggle__text-contain {
  position: absolute;
  background: white;
  left: 1.5rem;
  padding-left: 1rem;
  width: 8rem;
  height: 100%;
  border-radius: 3px;
  border: 1px solid #2788e2;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: center left;
  transform: scale(0.75, 0);
  opacity: 0;
  transition: transform 0.2s ease-out 0.2s, opacity 0.2s ease-out 0s; }
  .details-toggle__main-btn:hover .detail-toggle__text-contain {
    transform: scale(1, 1);
    opacity: 1;
    transition: transform 0.38s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0s, opacity 0.2s ease-out 0s; }

.detail-toggle__text {
  text-align: center;
  opacity: 0; }
  .details-toggle__main-btn:hover .detail-toggle__text {
    opacity: 1;
    transition: opacity 0.31s ease-out 0.28s; }

.portfolio-slider {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden; }

.portfolio-slider__arrows {
  z-index: 200;
  position: absolute;
  bottom: 2rem;
  right: 2rem; }

.portfolio-slider__details {
  z-index: 300;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none; }
  .portfolio-slider__details > div {
    pointer-events: auto; }

.portfolio-slider__toggle-btn {
  z-index: 500;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none; }
  .portfolio-slider__toggle-btn > div {
    pointer-events: auto; }

/*# sourceMappingURL=styles.css.map */
