<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Discovery</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        {% if NODE_ENV == "development" %}
        <link rel="stylesheet" href="/dev/styles.css">
        {% else %}
        <link rel="stylesheet" href="/dist/styles.min.css">
        {% endif %}

    </head>
    <body>
        <!-- react.js UI - See App.jsx -->
        <div id="app">{{ html|safe }}</div>
        
        <!-- env vars -->
        <script>
            window._env = {
                NODE_ENV: "{{NODE_ENV}}",
            }
        </script>
        <!-- async fonts  -->
        <script>
            WebFontConfig = {
                google: {
                    families: ['Oswald:400,300,700', 'Open Sans:400,300,700']
                },
                active: function(){console.log("font loaded!")}
            };
            (function(d) {
                var wf = d.createElement('script'), s = d.scripts[0];
                wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js';
                wf.async = 'true';
                s.parentNode.insertBefore(wf, s);
            })(document);
        </script>
        <!-- js bundle -->
        {% if NODE_ENV == "development" %}
        <script src="/dev/build.js"></script>
        {% else %}
        <script src="/dist/build.min.js"></script>
        {% endif %}

       
        
    </body>
</html>
