@import "./../../scss/_includes/_breakpoints.scss";

.case-study-details {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  overflow: auto;
  // TODO: lookup and add inertia scrolling property
}

// Animation up/down from ReactCSSTransitionGroup
.case-study-details__slide-enter {
  transform: translateY(100%);
}
.case-study-details__slide-enter-active {
  transition: transform 0.5s ease-out 0s;
  transition: transform 0.7s cubic-bezier(0.22, 0.61, 0.36, 1) 0.6s; 
  transform: translateY(0px);
}

.case-study-details__slide-leave {
  transform: translateY(0px);
}
.case-study-details__slide-leave-active {
  transition: transform 0.5s ease-out 0s; 
  transform: translateY(100%);
}

.case-study-details__contain {
  padding: 4rem 2rem 2rem;
  max-width: 768px;
  margin: 0 auto; 

  @media screen and (max-width: $breakpoint__mobile--max) {
     padding-left: 0.75rem;
     padding-right: 0.75rem;
  } 
}

// Text
.case-study-details__title {
  font-size: 4rem;
  margin-bottom: 1.5rem;

  @media screen and (max-width: $breakpoint__mobile--max) {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
}

.case-study-details__summary {
  font-size: 1.5rem;

  @media screen and (max-width: $breakpoint__mobile--max) {
    font-size: 1.2rem;
  }
}

.case-study-details__info-row {
  margin-bottom: 0.7rem;
}

.case-study-details__info-type {
  margin-right: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.case-study-details__info-value,
.case-study-details__info-type {
  margin: 0;
}

.site__divider--case-study-info {
  margin-top: 2rem;
  margin-bottom: 2rem;
}