.case-study-details {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  overflow: auto;
  // TODO: lookup and add inertia scrolling property
}

// Animation up/down from ReactCSSTransitionGroup
.case-study-details__slide-enter {
  transform: translateY(100%);
}
.case-study-details__slide-enter-active {
  transition: transform 0.5s ease-out 0s;
  transition: transform 0.7s cubic-bezier(0.22, 0.61, 0.36, 1) 0.6s; 
  transform: translateY(0px);
}

.case-study-details__slide-leave {
  transform: translateY(0px);
}
.case-study-details__slide-leave-active {
  transition: transform 0.5s ease-out 0s; 
  transform: translateY(100%);
}

.case-study-details__contain {
  padding: 4rem 2rem 2rem;
  max-width: 768px;
  margin: 0 auto;  
}

// Text
.case-study-details__title {
  font-size: 4rem;
  margin-bottom: 1.5rem;
}
.case-study-details__info-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.case-study-details__info-type {
  margin-right: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}

.case-study-details__info-value,
.case-study-details__info-type {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.site__divider--case-study-info {
  margin-top: 2rem;
  margin-bottom: 2rem;
}