@import "./../../scss/_includes/_breakpoints.scss";
@import '../../scss/_includes/_colors.scss';

.details-toggle {

}

.details-toggle__main-btn {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  height: 45px;
  cursor: pointer;
  
  transition: transform 0.6s ease-out 0s;  

  &.details-toggle__main-btn--open {
    transition: transform 0.7s ease-in-out 0s;
    transition: transform 1s cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
  }

  @media screen and (max-width: $breakpoint__mobile--max) {
    left: 0.75rem;
  }

}

.details-toggle__target,
.details-toggle__start {
  position: absolute;
  visibility: hidden;
  pointer-events: none;
  width: 45px;
  height: 45px;

  left: 2rem;
  @media screen and (max-width: $breakpoint__mobile--max) {
    left: 0.75rem;
  }
}

.details-toggle__target {
  top: 2rem;

  @media screen and (max-width: $breakpoint__mobile--max) {
    top: 1.5rem;
  }
}
.details-toggle__start {
  bottom: 2rem;
}
/*
.detail-toggle__text-contain {
  position: absolute;
  background: $color__primary;
  top: 0;
  left: 1.5rem;
  padding-left: 0.75rem;
  width: 9rem;
  height: 100%;
  border-radius: 0 3rem 3rem 0;

  display: flex;
  justify-content: center;
  align-items: center;

  transform-origin: center left;
  transform: scaleX(0.75);
  opacity: 0;
  transition: transform 0.2s ease-out 0.2s, opacity 0.2s ease-out 0s;

  .details-toggle__main-btn:hover & {
    transform: scaleX(1);
    opacity: 1;
    transition: transform 0.38s cubic-bezier(0.18, 0.89, 0.32, 1.05) 0s, opacity 0.3s ease-out 0s; 
  }
}

.detail-toggle__text {
  color: #fff;
  text-align: center;
  opacity: 0;

  .details-toggle__main-btn:hover & {
    opacity: 1;    
    transition: opacity 0.31s ease-out 0.28s;
  }
}*/